<mat-card>
	<div>
	    <label for="fname">Recipe Name</label>
	    <input matInput [(ngModel)]="recipe.name" type="text" id="fname" name="firstname" placeholder="Recipe Name..">
	    <label for="description">Description</label>
	    <input matInput [(ngModel)]="recipe.description" type="text" id="description" placeholder="Description..">
	    <label for="ingredient">Ingredients</label>
	    <input type="text" [(ngModel)]="recipe.ingredient" id="ingredient" placeholder="Ingredients.." (keyup.enter)="addIngredient()">
		<ul>
			<li *ngFor="let item of recipe.ingredients">
			{{item}}
			</li>
		</ul>
	</div>
    <mat-card-actions>
    	<div>
			<button mat-button [mat-dialog-close]="recipe" cdkFocusInitial>Save</button>
			<button mat-button (click)="onCloseCancel()">Cancel</button>
    	</div>

  	</mat-card-actions>
</mat-card>
